.ImgCarousel{
    height: 500px;
    object-fit: cover;
}

.ImagenInfo{
    width: 20%;
    height: 80px;
}

.logo{
    width: 25%;
    height: 100px;
}

.ImagenesInformativas{
    width: 100%;
    height: 400px;
    object-fit: cover;
}